<div class="flex justify-center">
<div id="user-posts" class="">


{{#each posts}}
<div class="text-center">
    {{> dashboardCard}}
</div>
{{/each}}
</div> 
</div>

<div id="form-container" class="flex justify-center">

</div>

<div class="flex justify-center">
    <button id="post-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-5 rounded-full">
  Button
    </button>
</div>


<script src="./js/dashboard.js"></script>