 <div class="blog-post-card">
    <div class="card-header">
    <h2 class="title post-label">Create New Post</h2>
    </div>
      <label class="post-label" for="title">Title:</label><br>
      <input type="text" id="title" name="title"><br>
      <label class="post-label" for="content">Content:</label><br>
      <textarea id="content" name="content"></textarea><br>
      <input id="submit-btn" type="submit" value="Create">
    </div>

<div id="form-container">

</div>
<button id="post-btn">New Post</button>

<script src="./js/dashboard.js"></script>