<div id="user-posts">
{{#each posts}}
<div>
    {{> dashboardCard}}
</div>
{{/each}}
</div> 

<div id="form-container">

</div>
<button id="post-btn">New Post</button>

<script src="./js/dashboard.js"></script>