<div id="user-posts" class="flex justify-center">

{{#each posts}}
<div>
    {{> dashboardCard}}
</div>
{{/each}}
</div> 

<div id="form-container" class="flex justify-center">

</div>

<div class="flex justify-center">
    <button id="post-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
  Button
    </button>
</div>


<script src="./js/dashboard.js"></script>